<swiper-container [slidesPerView] = "1.5" [centeredSlides] = "true" [loop] = true 
  [spaceBetween] = "20"  [autoplay] = "true" class="ion-margin-top">
  <swiper-slide>
    <ion-card>
      <img src="../assets/SLIDER_1.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/SLIDER_1.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/SLIDER_1.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/SLIDER_1.png">
    </ion-card>
  </swiper-slide>

  <swiper-slide>
    <ion-card>
      <img src="../assets/SLIDER_1.png">
    </ion-card>
  </swiper-slide>

</swiper-container>